body {
  font-family: Arial, sans-serif;
  background-color: #564cb3;
  padding: 20px;
}

.info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.toggle-content p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

header {
  background-color: rgb(32, 168, 50);
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #040d8b;
}

.logo {
  font-size: 1.5rem;
  color: #0e54d4;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #050101;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 5px;
}

nav a.active {
  background-color: #dd6a0b;
  color: #04070a;
}

.profile {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.profile-img {
  width: 300px;
  border-radius: 10px;
  border: 1px solid #5b035e;
}

.info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-card {
  background: rgb(185, 115, 8);
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #03661c;
  border-radius: 5px;
  font-size: 1rem;
}

form textarea {
  height: 100px;
  resize: vertical;
}

form button {
  padding: 10px;
  background: #0c54ac;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

form button:hover {
  background: #1d06a1;
}

.resume h2 {
  margin-bottom: 20px;
}

.resume-section {
  margin-bottom: 20px;
}

.toggle-btn {
  background-color: #e2ddd8;
  border: none;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 5px;
}

.toggle-content {
  display: none;
  padding: 15px;
  background-color: rgb(192, 171, 171);
  border: 1px solid #ccc;
  border-radius: 5px;
}
